/*=========================================================
	GENERAL
===========================================================*/
/*----------------------------*\
	typography
\*----------------------------*/
 body {
     font-family: 'Nunito', sans-serif;
     font-size: 16px;
     font-weight: 300;
     zoom: 150%
     color: #3d455c;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: 'Nunito Sans', sans-serif;
     font-weight: 700;
     color: #212631;
     margin: 0px 0px 15px;
}
 h1 {
     font-size: 34px;
}
 h2 {
     font-size: 28px;
}
 h3 {
     font-size: 23px;
}
 h4 {
     font-size: 16px;
}
 a {
     font-weight: 600;
     color: #212631;
     text-decoration: none;
}
 a:hover, a:focus{
     color: #212631;
     text-decoration: underline;
     outline: none;
}
 p {
     margin: 0px 0px 20px;
}

textarea {
    align-content: center;
    margin-bottom: 20px;
    width: 300px;
    border: 2px solid lightsteelblue;
    width: 100%;
    padding: 0px 15px;
    -webkit-transition: 0.2s border;
    transition: 0.2s border;
    font-family: monospace;
    font-size: 20px;
    color: lightseagreen;
}

 ul{
     margin: 0;
     padding: 0;
     list-style: none
}
form {
  width: 500px;

}
 ul.list-style {
     padding-left: 15px;
     margin-bottom: 10px;
}
 ul.list-style {
     list-style-type: disc;
}
 .input {
     height: 40px;
     align-content: center;
     margin-bottom: 20px;
     border: 2px solid lightsteelblue;
     width: 100%;
     padding: 0px 15px;
     -webkit-transition: 0.2s border;
     transition: 0.2s border;
     font-family: monospace;
     font-size: 20px;
     color: lightseagreen;
}

.field_name {
  font-family: monospace;
  font-size: 25px;
  color: grey;
}
 .input:focus {
     border-color: #3d455c;
}
 .submit_btn{
   border: 2px solid lightsteelblue;
   background-color: #47a589;
   width: 180px;
   height: 50px;
   margin-bottom: 20px;
   margin-left: 40px;
   font-size: 30px;
   color: #212631;
   font-weight: bold;
 }
 .cancel_btn{
   margin-left: 200px;
   border: 2px solid lightsteelblue;
   background-color: darksalmon;
   width: 180px;
   height: 50px;
   margin-bottom: 20px;
   font-size: 30px;
   color: #212631;
   font-weight: bold;
 }
}
 .section {
     padding-top: 40px;
}
 .section.section-grey {
     background-color: #fbfbfd;
     border-bottom: 1px solid #eceef2;
     border-top: 1px solid #eceef2;
}
 .section .section-title {
     margin-bottom: 40px;
}
 .section .section-title h2 {
     text-transform: capitalize;
     font-size: 28px;
}
/*=========================================================
	NAVIGATION
===========================================================*/
 #nav {
     height: 70px;
}
 #nav:after {
     content: "";
     position: fixed;
     left: 0;
     right: 0;
     bottom: 0;
     top: 0;
     background-color: rgba(33, 38, 49, 0.5);
     z-index: 90;
     opacity: 0;
     visibility: hidden;
     -webkit-transition: 0.2s all;
     transition: 0.2s all;
}
 #nav-fixed {
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     z-index: 90;
     background-color: #FFF;
     -webkit-box-shadow: 0px -1px 0px 0px #eceef2 inset;
     box-shadow: 0px -1px 0px 0px #eceef2 inset;
}
 #nav-fixed.slide-down {
     -webkit-animation: slide-down 0.3s;
     animation: slide-down 0.3s;
}
 #nav-fixed.slide-up {
     -webkit-animation: slide-up 0.3s;
     animation: slide-up 0.3s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
}
#sep {
      background-color: #fbfbfd;
      text-align: center;
      font-weight: bold;
      padding: 10px;
      padding-top: 12px;
      margin-left: 70px;
}
#sep a::after {
     background-color: #fbfbfd;
}
 @-webkit-keyframes slide-down {
     from {
         -webkit-transform:translateY(-100%);
         transform:translateY(-100%);
    }
     to {
         -webkit-transform:translateY(0%);
         transform:translateY(0%);
    }
}
 @keyframes slide-down {
     from {
         -webkit-transform:translateY(-100%);
         transform:translateY(-100%);
    }
     to {
         -webkit-transform:translateY(0%);
         transform:translateY(0%);
    }
}
 @-webkit-keyframes slide-up {
     from {
         -webkit-transform:translateY(0%);
         transform:translateY(0%);
    }
     to {
         -webkit-transform:translateY(-100%);
         transform:translateY(-100%);
    }
}
 @keyframes slide-up {
     from {
         -webkit-transform:translateY(0%);
         transform:translateY(0%);
    }
     to {
         -webkit-transform:translateY(-100%);
         transform:translateY(-100%);
    }
}
 #nav .container {
     position: relative;
}
/*----------------------------*\
	menu
\*----------------------------*/
 .nav-menu {
     margin-left: 20px;
}
 .nav-menu li a {
     position: relative;
     padding: 25px 20px;
     text-transform: capitalize;
     -webkit-box-shadow: -1px 0px 0px 0px #eceef2 inset;
     box-shadow: -1px 0px 0px 0px #eceef2 inset;
     -webkit-transition: 0.2s color;
     transition: 0.2s color;
}
 .nav-menu li:first-child a {
     border-left: 1px solid #eceef2;
}
 .nav-menu li a:after {
     content: '';
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0px;
     width: 100%;
     height: 4px;
     -webkit-transition: 0.2s width;
     transition: 0.2s width;
}
.cat-1-title{
    color: #4BB92F;
}
.cat-2-title{
    color: #ff8700;
}
.cat-3-title{
    color: #0078ff;
}
.cat-4-title{
    color: #8d00ff;
}

 .nav-menu li.cat-1 a:after {
     background-color: #4BB92F;
}
 .nav-menu li.cat-2 a:after {
     background-color: #ff8700;
}
 .nav-menu li.cat-3 a:after {
     background-color: #0078ff;
}
 .nav-menu li.cat-4 a:after {
     background-color: #8d00ff;
}
 .nav-menu li a:hover, .nav-menu li a:focus {
     background-color: transparent;
     text-decoration: none;
}
 .nav-menu li.cat-1 a:hover, .nav-menu li.cat-1 a:focus {
     color: #4BB92F;
}
 .nav-menu li.cat-2 a:hover, .nav-menu li.cat-2 a:focus {
     color: #ff8700;
}
 .nav-menu li.cat-3 a:hover, .nav-menu li.cat-3 a:focus {
     color: #0078ff;
}
 .nav-menu li.cat-4 a:hover, .nav-menu li.cat-4 a:focus {
     color: #8d00ff;
}
/*=========================================================
	HEADER
===========================================================*/
 .page-header {
     position: relative;
     margin: 0;
	 padding-top: 60px;
     padding-bottom: 60px;
     background-color: #fbfbfd;
     border-bottom: 2px solid #F4f4f9;
}
 .page-header .background-img {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-position: center;
     background-size: cover;
}
 .page-header .background-img:after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 38, 49, 0.3)), to(transparent));
     background-image: linear-gradient(to top, rgba(33, 38, 49, 0.3) 0%, transparent 100%);
}
 .page-header h1 {
     text-transform: capitalize;
     margin-bottom: 0px;
}
 .page-header .post-meta {
     margin: 15px 0px;
}
 .page-header .post-meta .post-date {
     color: #eceef2;
}
 .page-header .page-header-breadcrumb {
     margin: 15px 0px;
}
 .page-header .page-header-breadcrumb li {
     display: inline-block;
}
 .page-header .page-header-breadcrumb li, .page-header .page-header-breadcrumb li a {
     font-size: 13px;
     text-transform: capitalize;
     color: #a7b3c6;
}
 .page-header .page-header-breadcrumb li a {
     -webkit-transition: 0.2s color;
     transition: 0.2s color;
}
 .page-header .page-header-breadcrumb li a:hover, .page-header .page-header-breadcrumb li a:focus {
     color: #0b0f28;
     text-decoration: none;
}
 .page-header .page-header-breadcrumb li + li:before {
     content: '/';
     display: inline-block;
     margin: 0px 10px;
}
.section {
    padding-top: 40px;
}
/*=========================================================
	POST
===========================================================*/
/*----------------------------*\
	post
\*----------------------------*/
 .post {
     margin-bottom: 40px;
}
 .post{
     display: block;
     -webkit-transition: 0.2s opacity;
     transition: 0.2s opacity;
}
 .post {
     width: 100%;
}
 .post .post-meta {
     margin-top: 15px;
     margin-bottom: 15px;
}
 .post-meta .post-category {
     font-size: 13px;
     text-transform: uppercase;
     padding: 3px 10px;
     font-weight: 600;
     border-radius: 2px;
     margin-right: 15px;
     color: #FFF;
     background-color: #212631;
     -webkit-transition: 0.2s opacity;
     transition: 0.2s opacity;
}
 .post-meta .post-category:hover, .post-meta .post-category:focus {
     text-decoration: none;
     opacity: 0.9;
}
 .post-meta .post-category.cat-1 {
     background-color: #4BB92F;
}
 .post-meta .post-category.cat-2 {
     background-color: #ff8700;
}
 .post-meta .post-category.cat-3 {
     background-color: #0078ff;
}
 .post-meta .post-category.cat-4 {
     background-color: #8d00ff;
}
 .post-meta .post-date {
     font-size: 13px;
     font-weight: 600;
}
 .post .post-title {
     font-size: 18px;
     margin-bottom: 0px;
}
 .post-tags li {
     display:inline-block;
     margin-right:3px;
     margin-bottom:5px;
}
 .post-tags li a {
     display:block;
     color:#fff;
     background-color: #212631;
     padding:3px 10px;
     font-weight:600;
     border-radius:2px;
     -webkit-transition:0.2s opacity;
     transition:0.2s opacity;
}
/*=========================================================
	POST PAGE
===========================================================*/

.btn    {
  width: 160px;
  height: 50px;
  text-align: center;
  font-size: 22px;
  color: #FBFBF0;
  border-width: 3px;
  border-color: #F0F0FB;
  font-weight: bold;
  margin-top: 9px;
  margin-left: 200px;
}

.green  {
  background: #82c8a0;
}

.red  {
  background: #fa5a5a;
}

#profile_img {
  height: 50px;
  border: 5px solid #F0F0FB;
  margin-left: 20px;
  margin-top: 10px;
}
/*=========================================================
	FOOTER
===========================================================*/
 #footer {
     padding-bottom: 40px;
     margin-top: 100px;
}
 #footer .container {
     border-top: 2px solid #F4f4f9;
}
 .footer-nav li {
     display: inline-block;
     margin-right: 15px;
}
/*=========================================================
	RESPONSIVE
===========================================================*/
 @media only screen and (max-width: 991px) {
     #nav .nav-menu {
         display: none;
    }
}
 @media only screen and (max-width: 767px) {
	 .page-header h1 {
		 font-size: 28px;
	}
     .post.post-row .post-img {
         width: 100%;
         float: none;
    }
     .post.post-row .post-body {
         margin-left: 0px;
    }
     .post.post-row .post-meta {
         margin-top: 15px;
    }
     .post.post-row .post-body p {
         display:none;
    }
}
