{% extends "main.html" %}
{% block content %}

		<!-- section -->
		<div class="section">

			<!-- /container -->
		</div>
		<!-- /section -->

		<!-- section -->
		<div class="section section-grey">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row" style="width: 950px;padding-left: 250px;">

          <h1 style="margin-bottom:40px">{{ statment|safe }}</h1>

          <button class="submit_btn" type="button" name="confirm_button"><a href="{{ confirm_url }}"> Confirm </a></button>
          <button class="cancel_btn" type="button" name="cancel_button"><a href="{{server_url}}"> Cancel </a></button>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /section -->

{% endblock %}
