{% extends "main.html" %}
{% block content %}

		<!-- section -->
		<div class="section">

			<!-- /container -->
		</div>
		<!-- /section -->

		<!-- section -->
		<div class="section section-grey">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

          <h1>{{ statment|safe }}</h1>

          <button type="button" name="confirm_button"><a href="{{ confirm_url }}"> Confirm </a></button>
          <button type="button" name="cancel_button"><a href="{{ url_for('index') }}"> Cancel </a></button>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /section -->

{% endblock %}
