<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('index') + "js/FB_Login_Script.js" }}" charset="utf-8"></script>
  </head>
  <body>
    <h1> Login to Item catalog</h1><br>
    <h3> with those platforms </h3>
    <ul>
      <li><h4><a href="{{ url_for('google_authorize') }}"> Sign in with google </a></h4></li>
      <li><fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button></li>

      <div id="status">
      </div>
    </ul>
    <h3> OR </h3>
    <form class="login_form" action="{{ url_for('internal_login') }}" method="post">
      <input type="email" name="Email" placeholder="enter your email"><br>
      <input type="password" name="password" placeholder="enter your password"><br>
      <input type="submit" name="Submit">
    </form>
    <h5>if you don't have an account in any of the above go <a href="{{ url_for('internal_sign_up') }}">sign up</a></h5>


  </body>
</html>
