<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1> Login to Item catalog</h1><br>
    <h3> with those platforms </h3>
    <ul>
      <li><h4><a href="{{ url_for('google_login') }}"> Sign in with google </a></h4></li>
      <li><h4><a href="{{ url_for('facebook_login') }}"> Log in with Facebook </a></h4></li>
    </ul>
    <h3> OR </h3>
    <form class="login_form" action="{{ url_for('internal_login') }}" method="post">
      <input type="text" name="Email" placeholder="enter your email"><br>
      <input type="password" name="password" placeholder="enter your password"><br>
      <input type="submit" name="Submit">
    </form>
    <h5>if you don't have an account in any of the above go <a href="{{ url_for('internal_sign_up') }}">sign up</a></h5>


  </body>
</html>
