<!DOCTYPE html>
<html lang="en">
<head>
	<title>Message</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://3.124.200.75.xip.io/css/login_util.css">
	<link rel="stylesheet" type="text/css" href="http://3.124.200.75.xip.io/css/login_style.css">
</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('http://3.124.200.75.xip.io/img/bg-02.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
					<span class="login100-form-title p-b-53">
					  {{statment|safe}}
					</span>
			</div>
		</div>
	</div>

</body>
</html>
